.recent-posts {
  text-align: center;
  display: block !important;
  margin-top: 1em;
}

.register-container {
  margin-top: 20px;
  width: 350px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.ui.red.button:focus,
.ui.red.buttons .button:focus {
  background-color: red;
}

body {
  background-image: url("./public/glen-carrie-_oNISBwMTwo-unsplash.jpg");
  background-color: #cccccc;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
